body {
	background:url(img/fondo.jpg);
	background-color:black;
}
.card {
	width: 100%;
	height: 100%;
	text-align: center;
	background-color: url(img/fondo.jpg);
	border-radius: 20%
}
.a {
  text-align: center;
  font-size: 25px;
}
